@font-face{
    font-family: ArialNarrow;
    src: url(../../images/arial-narrow/ArialNarrow2.ttf);
}

@font-face{
    font-family: roboto-thin;
    src: url(../../font/roboto/Roboto-Thin.ttf);
}


.header{
    background-color: black;
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav-social-cont{
    display: flex;
    justify-content: space-around;
    width: 230px;
}

.nav-link{
    text-decoration: none;
}

.nav-link-text{
    font-family: ArialNarrow;
    font-weight: 400;
    font-size:  20px;
    color: white;
}

.nav-links-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

.brand-logo{
    color: white;
    font-family: roboto-thin;
}

.social-icon{
    color: white;
    height: 30px !important;
}